.section {
  margin-top: 1rem;
  margin-bottom: 1.3rem;

  &__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
  }

  span {
    color: rgb(41, 120, 222);
    font-weight: 700;
  }

  & > &__brand {
    display: block;
    padding-top: 1rem;
    text-align: center;
  }
}

:is(.section__title, span) {
  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
}
