<section class="home-container">
  <h1 class="home-container__title">Veja o que estão compartilhando no Feed</h1>

  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input
        class="search-container__input"
        type="search"
        placeholder="Busque por um momento"
        (input)="searchMoment($event)"
      />
    </form>
  </div>

  <div *ngIf="moments.length > 0; else noMoments">
    <div class="moments-container">
      <div class="moments-container__moment" *ngFor="let moment of moments">
        <h3 class="moments-container__title">{{ moment.title }}</h3>
        <img
          class="moments-container__image"
          src="{{ baseApiUrl }}uploads/{{ moment.image }}"
          alt="{{ moment.title }}"
        />
        <p class="moments-container__date">
          Publicado em {{ moment.created_at | date : "dd/MM/yyyy" }}
        </p>
        <p>Comentários {{ moment.comments!.length }}</p>
        <p><a routerLink="moments/{{ moment.id }}">Detalhes do Post</a></p>
      </div>
    </div>
  </div>

  <ng-template #noMoments>
    <h2>Não há momentos para serem exibidos!</h2>
    <a routerLink="/moments/new">Quero compartilhar um momento especial</a>
  </ng-template>
</section>
