@import "variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  outline-offset: 0.25rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: map-get($colors, "secondary-color");
  line-height: 1.5;
}

img {
  max-width: 100%;
}

label {
  cursor: pointer;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: map-get($colors, "secondary-color");
  transition: 0.4s;

  @media (max-width: 800px) {
    font-size: 0.8rem;
  }

  &:hover {
    color: map-get($colors, "primary-color");
  }
}

li {
  list-style: none;
}

input::placeholder {
  color: map-get($colors, "color-placeholder");
  font-weight: map-get($font-weights, "regular");
}

textarea::placeholder {
  color: map-get($colors, "color-placeholder");
  font-weight: map-get($font-weights, "regular");
}

input::-webkit-input-placeholder {
  color: map-get($colors, "color-placeholder");
  font-weight: map-get($font-weights, "regular");
}

textarea::-webkit-input-placeholder {
  color: map-get($colors, "color-placeholder");
  font-weight: map-get($font-weights, "regular");
}

input::-moz-placeholder {
  color: map-get($colors, "color-placeholder");
  font-weight: map-get($font-weights, "regular");
}

textarea::-moz-placeholder {
  color: map-get($colors, "color-placeholder");
  font-weight: map-get($font-weights, "regular");
}

input:-ms-input-placeholder {
  color: map-get($colors, "color-placeholder");
  font-weight: map-get($font-weights, "regular");
}

textarea:-ms-input-placeholder {
  color: map-get($colors, "color-placeholder");
  font-weight: map-get($font-weights, "regular");
}

.is-invalid {
  border: 2px solid map-get($colors, "color-invalid");

  &:focus {
    border: 2px solid map-get($colors, "color-invalid");
  }
}
