* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  outline-offset: 0.25rem;
}

body {
  font-family: Cambria;
  color: rgb(68, 68, 68);
  line-height: 1.5;
}

img {
  max-width: 100%;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(68, 68, 68);
  transition: 0.4s;

  &:hover {
    color: rgb(41, 120, 222);
  }
}

li {
  list-style: none;
}

input::placeholder {
  color: rgb(24, 23, 23);
  font-weight: 500;
  letter-spacing: 0.5px;
}
textarea::placeholder {
  color: rgb(24, 23, 23);
  font-weight: 500;
}
input::-webkit-input-placeholder {
  color: rgb(24, 23, 23);
  font-weight: 500;
  letter-spacing: 0.5px;
}
textarea::-webkit-input-placeholder {
  color: rgb(24, 23, 23);
  font-weight: 500;
}
input::-moz-placeholder {
  color: rgb(24, 23, 23);
  font-weight: 500;
  letter-spacing: 0.5px;
}
textarea::-moz-placeholder {
  color: rgb(24, 23, 23);
  font-weight: 500;
}
input:-ms-input-placeholder {
  color: rgb(24, 23, 23);
  font-weight: 500;
  letter-spacing: 0.5px;
}
textarea:-ms-input-placeholder {
  color: rgb(24, 23, 23);
  font-weight: 500;
}
