<ng-container>
  <app-loader *ngIf="isLoading"></app-loader>
</ng-container>

<section class="moment-wrapper" *ngIf="moment">
  <h3>{{ moment.title }}</h3>
  <img
    class="moments-container__image"
    src="{{ baseApiUrl }}uploads/{{ moment.image }}"
    alt="{{ moment.title }}"
  />

  <div class="moment-wrapper__about">
    <h3>Sobre este momento especial</h3>
    <p>{{ moment.description }}</p>
  </div>

  <div class="moment-wrapper__actions">
    <a routerLink="/home/moments/edit/{{ moment.id! }}" class="btn-edit">
      <fa-icon [icon]="faEdit"></fa-icon>
      Editar momento
    </a>

    <button class="btn-delete" (click)="onDelete(moment.id!)">
      <fa-icon [icon]="faTimes"></fa-icon>
      Excluir momento
    </button>
  </div>

  <section class="comments">
    <h4>
      Comentários ({{
        moment.comments!.length > 0 ? moment.comments!.length : 0
      }})
    </h4>

    <div *ngIf="moment.comments!.length > 0; else noComments">
      <div class="comments-container" *ngFor="let comment of moment.comments">
        <p class="comments-container__comment">{{ comment.text }}</p>

        <p class="comments-container__author">
          <span>Por </span>
          {{ comment.username }}
        </p>
      </div>
    </div>

    <ng-template #noComments>
      <p>Nenhum comentário para este momento</p>
    </ng-template>
  </section>

  <app-comments-form (onSubmitEvent)="onSubmit($event)"></app-comments-form>
</section>

<section class="has-error-container" *ngIf="moment === undefined">
  <h2>Não há momentos para serem exibidos!</h2>
  <a routerLink="/moments/new">Quero compartilhar um momento especial</a>
</section>
